<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Записи</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="container mt-4">

<h1 class="mb-4">Список записей</h1>

<a class="btn btn-success mb-3" href="/appointments/add">Создать запись</a>

<table class="table table-striped table-bordered">
    <thead class="table-dark">
    <tr>
        <th>ID</th>
        <th>Клиент</th>
        <th>Сотрудник</th>
        <th>Услуга</th>
        <th>Дата и время</th>
        <th>Действия</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="a : ${appointments}">
        <td th:text="${a.id}"></td>
        <td th:text="${a.client.name}"></td>
        <td th:text="${a.employee.name}"></td>
        <td th:text="${a.service.name}"></td>
        <td th:text="${#temporals.format(a.dateTime, 'dd.MM.yyyy HH:mm')}"></td>
        <td>
            <a class="btn btn-primary btn-sm"
               th:href="@{'/appointments/edit/' + ${a.id}}">Редактировать</a>

            <a class="btn btn-danger btn-sm"
               th:href="@{'/appointments/delete/' + ${a.id}}"
               onclick="return confirm('Удалить запись?')">Удалить</a>
        </td>
    </tr>
    </tbody>
</table>

<a href="/" class="btn btn-secondary mt-3">Назад на главную</a>

</body>
</html>
